<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio2.css') }}"/>
    </head>
    <body class='corpo'>
    
            <div class="topnav">
                    <a  href="home">Home</a>
                    <a class ='active' href="cardapio">Cardápio</a>
                    <a  href="fazerpedido">Fazer Pedido</a>
                    
                    <a href="home#cont">Contato</a>
                 </div>
             
                          
                   
    </body>  
    <div class="corpo">
      <div class="la">
            <text class="cardapio">
                    O Cardápio
                </text>
      </div>  
        <div class='nav2'>
                <a  href="cardapio" >Entradas</a>
                <a class="active" href="paesrecheados">Pães Recheados</a>
                <a href="pizzas">Pizzas</a>
                <a href="bebidas">Bebidas</a>
        </div>
        <div class='tabelapizza'>
                <text class='title'>
                    Misto Pizzateca
                </text>
                <text class='preço'> R$ 32,90 / R$ 52,90</text>
               
            </div>
            <div class='tabelapizza2'>
                  <text class='desc'>
                          Mozzarella, presunto, cebola e azeitonas
                      </text>
            </div>
            <div class='tabelapizza3'>
                <text class='title'> Quatro Queijos</text>
                <text class='preço'>
                      R$ 39,90 / R$ 59,90
                  </text>
            </div>
            <div class=tabelapizza4>
                <text class='desc'> Mozzarella, gorgonzola, parmigiano e catupiry</text>
            </div>
            <div class='linha-horizontal'>
          
            </div>
            <div class=tabelapizza5>
                <text class='title'>
          Calabresa
                </text>
                <text class='preço'>
                    R$ 35,90 / R$ 58,90
                </text>
            </div>
            <div class='tabelapizza6'>
                <text class='desc2'>
                    Mozzarella, calabresa e cebola
                </text>
                
            </div>
            
          
           
              </div>
              
               










    </div>




</html>
