<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.css') }}"/>
    </head>
    <body class='corpo'>
    
            <div class="topnav">
                    <a  href="home">Home</a>
                    <a class ='active' href="cardapio">Cardápio</a>
                    <a  href="fazerpedido">Fazer Pedido</a>
                   
                    <a href="home#cont">Contato</a>
                 </div>
             
                          
                   
    </body>  
    <div class="corpo">
      <div class="la">
            <text class="cardapio">
                    O Cardápio
                </text>
      </div>  
        <div class='nav2'>
                <a class="active" href="cardapio" >Entradas</a>
                <a href="paesrecheados">Pães Recheados</a>
                <a href="pizzas">Pizzas</a>
                <a href="bebidas">Bebidas</a>
        </div>
        <div class='tabelapizza'>
                <text class='title'>
                    Crostata de Alecrim
                </text>
                <text class='preço'> R$ 16,90</text>
               
            </div>
            <div class='tabelapizza2'>
                  <text class='desc'>
                          Massa fina, alecrim e parmigiano
                      </text>
            </div>
            <div class='tabelapizza3'>
                <text class='title'> Crostata de Gorgonzola</text>
                <text class='preço'>
                      R$ 23,90
                  </text>
            </div>
            <div class=tabelapizza4>
                <text class='desc'> Massa fina, gorgonzola, parmigiano e alecrim fresco</text>
            </div>
            <div class='linha-horizontal'>
          
            </div>
            <div class=tabelapizza5>
                <text class='title'>
          Crostata Pizzateca
                </text>
                <text class='preço'>
                    R$ 39,90
                </text>
            </div>
            <div class='tabelapizza6'>
                <text class='desc'>
                    Massa fina, alecrim fresco, rúcula, presunto de parma e mozzarelline
                </text>
            </div>
            <div class=tabelapizza7>
                  <text class='title'>
            Rondelline de Calabresa
                  </text>
                  <text class='preço'>
                      R$ 19,80
                  </text>
              </div>
              
               










    </div>




</html>
