<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio4.css') }}"/>
    </head>
    <body class='corpo'>
    
            <div class="topnav">
                    <a  href="home">Home</a>
                    <a class ='active' href="cardapio">Cardápio</a>
                    <a  href="fazerpedido">Fazer Pedido</a>
                    <a href="home#cont">Contato</a>
                 </div>
             
                          
                   
    </body>  
    <div class="corpo">
      <div class="la">
            <text class="cardapio">
                    O Cardápio
                </text>
      </div>  
        <div class='nav2'>
                <a  href="cardapio" >Entradas</a>
                <a href="paesrecheados">Pães Recheados</a>
                <a   href="pizzas">Pizzas</a>
                <a  class="active"href="bebidas">Bebidas</a>
        </div>
      
              
        <div class="corpobebidas">

       
               
                <div class="diven">
                   
                   
                <text class="drink">Coca Cola / Guaraná (lata)</text> 
                <text class=price>R$ 6,90</text> 
              
                
                    
                  
                </div>

              
                <div class="diven">
                   
                   
                    <text class=drink>Tônica Citrus (lata)</text> 
                    <text class=price>R$ 6,90 </text> 
                    
                    </div>
                    <div class="diven">
                   
                   
                            <text class=drink>Mate Leão (copo)</text> 
                            <text class=price>R$ 6,90</text> 
                            
                            </div>
                            <div class="diven">
                   
                   
                                    <text class=drink>Ice Tea (lata)</text> 
                                    <text class=price>R$ 8,90</text> 
                                    
                                    </div>
                                    <div class="diven">
                   
                   
                                            <text class=drink>Suco (lata)</text> 
                                            <text class=price>R$ 8,90</text> 
                                            
                                            </div>
                                            <div class="diven">
                   
                   
                                                    <text class=drink>Água (c / s gás)</text> 
                                                    <text class=price>R$ 4,90</text> 
                                                    
                                                    </div>
                                                    <div class="diven">
                   
                   
                                                            <text class=drink> Cerveja (long neck)</text> 
                                                            <text class=price>R$ 8,90</text> 
                                                            
                                                            </div>
                                                            <div class="diven">
                   
                   
                                                                    <text class=drink>Cerveja (600ml)</text> 
                                                                    <text class=price>R$ 14,90</text> 
                                                                    
                                                                    </div>
                                                                    <div class="diven">
                   
                   
                                                                            <text class=drink>Heineken (long neck)</text> 
                                                                            <text class=price>R$ 9,90</text> 
                                                                            
                                                                            </div>
                                                                            <div class="diven">
                   
                   
                                                                                    <text class=drink>Heineken (600 ml)</text> 
                                                                                    <text class=price>R$ 15,90</text> 
                                                                                    
                                                                                    </div>
                                                                                    <div class="diven">
                   
                   
                                                                                            <text class=drink>Caipirinha</text> 
                                                                                            <text class=price>R$ 14,90</text> 
                                                                                            
                                                                                            </div>
                                                                                            <div class="diven">
                   
                   
                                                                                                    <text class=drink>Caipivodka</text> 
                                                                                                    <text class=price>R$ 18,90</text> 
                                                                                                    
                                                                                                    </div>
                                                                                                    <div class="diven">
                   
                   
                                                                                                            <text class=drink>Cuba Libre</text> 
                                                                                                            <text class=price>R$ 22,90</text> 
                                                                                                            
                                                                                                            </div>


            




 </div>
               

    </div>

</html>