

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contato.css') }}"> />
    </head>
    <body class='corpo'>
           <div class="topnav">
   
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               
                   
                      <span class="navbar-toggler-icon"></span>
                   
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link " href="home">Home <span class="sr-only"></span></a>
                        <a class="nav-item nav-link" href="cardápio">Cardápio</a>
                        <a class="nav-item nav-link" href="fazerpedido">Fazer Pedido</a>
                        <a class="nav-item nav-link active" href="contato">Contato</a>
                        
                      </div>
                    </div>
                  </nav>   
      
        
          </text>
      </div>
      <div class='endhora'>
          <text class='end'>
              Endereço
          </text>
          <text class='hora'>
                Horário de Atendimento
          </text>
          <text class='end2'>
              Rua Cinco de Julho, 395, Copacabana
              <br>
               Rio de Janeiro, RJ 22051-030
               <br>
           Email:  pizzatecabrasil@gmail.com
           <br>
           Telefone: 021 3518-3444
           <div class="linha-vertical"></div>
          </text>
          <div class='hora'>
              <text class='hora2'>
                  Terça - Quinta  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  17:00 - 23:00
                  <br>

                  Sexta e Sábado  &nbsp;&nbsp;&nbsp;&nbsp;  17:00 - 24:00
                  <br>
                  Domingo    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   17:00 - 23:00

              </text>
          </div>
          <iframe class='mapa' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6307.756146421372!2d-43.19796736725643!3d-22.97129977013911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd543c91889a7%3A0x379c08edbc845d84!2sR.%205%20de%20Julho%2C%20395%20-%20Copacabana%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2022051-030!5e0!3m2!1spt-BR!2sbr!4v1573696263895!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      
    
    </body>  
</html>
