

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sucesso.css') }}"/>
    </head>
    <body class='corpo'>
    
            <div class="topnav">
                    <a  href="home">Home</a>
                    <a class ='active' href="cardapio">Cardápio</a>
                    <a  href="fazerpedido">Fazer Pedido</a>
                    
                    <a href="home#cont">Contato</a>
                 </div>
             
                          
                   
    </body>  
    <div class="corpo">
      <div class="la">
            <text class="cardapio">
                    PEDIDO FEITO COM SUCESSO!
                </text>
      </div>  
       
      
          
           
              </div>
              
               